<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="yelp" src="{{ "/assets/img/yelp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Yelp Review Insight Generator </h3>
    <ul>
      <li>Web Scraping, Data Analysis, Data Visualization </li>
    </ul>
    <p> Discover 'Yelp Review Scraper', a smart tool that takes your favorite restaurants and serves up insightful summaries based on Yelp reviews. This automated solution goes beyond simple data collection by generating comprehensive summary reports that help you make more informed dining choices. </p>
    <a class="project-link" target="_blank" href="https://github.com/panagiotisgia/">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="arb_bet" src="{{ "/assets/img/arb_bet.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sports Betting Arbitrage Detector </h3>
    <ul>
      <li>Web Scraping, Data Analysis</li>
    </ul>
    <p> Explore the Arbitrage Betting, a personal project leveraging automated web scraping and data analysis to uncover profitable betting opportunities in football, basketball and tennis. Based on two major greek sport betting companies.   </p>
    <a class="project-link" target="_blank" href="https://github.com/panagiotisgia/arbitage_betting">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="book" src="{{ "/assets/img/book.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Natural Language Processing </h3>
    <ul>
      <li>Machine Learning, Deep Learning</li>
    </ul>
    <p>Text classification is one of the most widely use cases of Natural Language Processing (NLP). We will perform sentiment analysis in a review dataset and we will compare all the methods available. From mostly linear models to Multi-Layer Perceptron (MLP) to Recurrent Neural Networks (RNN). </p>
    <a class="project-link" target="_blank" href="https://github.com/panagiotisgia/NLP_projects">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="tableau" src="{{ "/assets/img/tableau.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tableau Portofolio </h3>
    <ul>
      <li>Data Analysis, Data Visualization</li>
    </ul>
    <p>Personal Portofolio in data visualization in Tableau. More information coming soon </p>
    <a class="project-link" target="_blank" href="https://public.tableau.com/app/profile/panagiotis.giannopoulos">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="weather" src="{{ "/assets/img/weather.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Explorer Weather in Athens </h3>
    <ul>
      <li>Data Analysis</li>
    </ul>
    <p>At this project we will explore the weather in Athens over a period of more than 50 years. We will calculate the deviation of summer temperatures, the evolution of daily temperatures, the extreme temperatures events and finally the precipitation. </p>
    <a class="project-link" target="_blank" href="https://github.com/panagiotisgia/Assignment_Explore_Weather_in_Athens">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="gun" src="{{ "/assets/img/gun.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Belief in Supernatural Evil and Guns </h3>
    <ul>
      <li>Data Analysis, Statistics, Machine Learning</li>
    </ul>
    <p>At this assignment we will replicate a study of belief in supernatural evil and attitudes towards guns in the United States. We will try to create the supernatural evil metric and how it influences the support of various gun policies.  </p>
    <a class="project-link" target="_blank" href="https://github.com/panagiotisgia/Assignment_Belief_in_Supernatural_Evil_and_Guns">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="music" src="{{ "/assets/img/music.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dissecting Spotify Valence </h3>
    <ul>
      <li>Data Analysis, Machine Learning</li>
    </ul>
    <p>Spotify uses a metric called valence to measure the happiness of a track. The metric itself, however, was not developed by Spotify. Our task is to untangle the mystery behind valence and propose how this is derived. </p>
    <a class="project-link" target="_blank" href="https://github.com/panagiotisgia/Assignment_Dissecting_Spotify_Valence">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="crops" src="{{ "/assets/img/crops.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HyperSpectral Image Processing </h3>
    <ul>
      <li>Data Analysis</li>
    </ul>
    <p>Hyperspectral images depicts a specific scene at several (L) narrow continuous spectral bands. Our scope, is to prerform spectral unmixing each one of the pixels with respect to the 7 given endmembers of the Salinas valley in California. </p>
    <a class="project-link" target="_blank" href="https://github.com/panagiotisgia/Assignment_Hyperspectral_Image_Processing">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="blockchain" src="{{ "/assets/img/blockchain.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Blockchain Analytics Portfolio </h3>
    <ul>
      <li>Data Analysis, Data Visualization</li>
    </ul>
    <p>Personal portofolio in blockchain analytics. With the help of Dune, create amazing dashboards in the Ethereum blockchain. More information coming soon. </p>
    <a class="project-link" target="_blank" href="https://dune.com/pangia">Coming Soon</a>
  </div>
</div>

