<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/weather.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Explorer Weather in Athens </h3>
    <ul>
      <li>Data Analysis</li>
    </ul>
    <p>We will explore the weather in Athens over a period of more than 50 years. We will calculate the deviation of summer temperatures, the evolution of daily temperatures, the extreme temperatures events and finally the precipitation. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/gun.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Belief in Supernatural Evil and Guns </h3>
    <ul>
      <li>Data Analysis, Statistics, Machine Learning</li>
    </ul>
    <p>Descriptiooo</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/music.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dissecting Spotify Valence </h3>
    <ul>
      <li>Data Analysis, Machine Learning</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/crops.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HyperSpectral Image Processing </h3>
    <ul>
      <li>Data Analysis</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

